/*Nav*/
.navbar{
	display: flex !important;
    padding: 0;
	justify-content:space-between !important; 
	background-color: #77afb6;
	flex-direction: row;
}

.logo{
	height:30px;
}

.whitetext{
	color:#fbfbfb !important;
}

.row1{
	display:flex;
	flex-direction:row;
}

.profile{
	display:flex;
	justify-content:center;
	flex-direction:row;
	align-items:center;
	height:30px;
}

.username{
	display:flex;
	align-items:center;
	flex-direction:column;
}

.profile-name{
	padding:2.5vh 0 0 5px;
}
/* Change how the element behave after certain width */
@media screen and (min-width: 992px) {
    .hidden-wide {
        display: none !important;
    }
}

@media screen and (max-width:768px){
  .hidden-median {
    display: none !important;
  }
}


@media screen and (max-width: 992px) {
    .hidden-thin {
        display: none !important;
    }
}
/*Login*/
.modal-backdrop {
	z-index:20 !important;
}

/*search bar*/
.btn-outline-success {
    --bs-btn-color: #fbfbfb !important;
    --bs-btn-border-color: #fbfbfb !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #5a8b91 !important;
    --bs-btn-hover-border-color: #fbfbfb !important;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: #5a8b91 !important;
    --bs-btn-active-border-color: #fbfbfb !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #198754 !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #198754 !important;
    --bs-gradient: none;
}

.search {
	margin-right:3%;
	
}

.links{
	display: flex !important;
    padding: 0;
	justify-content:space-around; 
	background-color: #77afb6;
	flex-direction:row !important;
	width:100%;
}

@media screen and (max-width:768px){
    .links {
      display: none !important;
    }
  }

.nav-link{
	--bs-btn-hover-bg: #5a8b91 !important;	
}

.inline{
	display:flex !important;
	width:30%;
	justify-content:space-evenly;
}

.cart-logo{
	margin-top:10%;
}

.cart-logo:hover {
  filter: grayscale(100%) brightness(50%) opacity(0.8);
}

/*Footer*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    padding: 18px 0px 18px 0px;
    background-color: #77afb6;
	flex-shrink: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 18px 0px;
    }
}

.nav2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Change how the element behave after certain width */
@media screen and (max-width: 768px) {
    .nav2 {
        display: flex;
        flex-direction: row;
		justify-content: space-around;
		width:100%;
		
    }
}

.info {
    color: #fbfbfb;
    text-align: left;
    font-size: 10pt;
    font-weight: 500;
    margin: 0 !important;
}

/* Change how the element behave after certain width */
@media screen and (max-width: 768px) {
    .ctcinfo {
        padding: 0 30px 0px 13px;
    }
}

.nav_button2 {
    color: #fbfbfb;
    text-decoration: 0;
    font-weight: 500;
    font-size: 10pt;
}

.nav_button2:hover {
    color: #e8e8e8;
}

.logo2 {
    width: 93px;
    height: auto;

}

.text1 {
    color: #ffffff;
    font-family: math;
    font-size: 12pt;
    text-align: center;
}



/* Change how the element behave after certain width */
@media screen and (max-width: 768px) {
    .info {
		text-align:center;
	}
}
.info1 {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.column {
    display: flex;
    justify-content: flex-start;
    width: 25%;
    height: 130px;
    border-left: 2px #ffffff solid;
    flex-wrap: wrap;
	padding-left:20px;
}

/* Change how the element behave after certain width */
@media screen and (max-width: 768px) {
    .column {
        justify-content: center;
        height: auto;
        width: 100%;
        border-left: 0px;
        border-top: 2px #ffffff solid;
		padding-right:20px;
        margin-top: 10px;
        padding-top: 10px;
    }
}

.noborder {
    display: flex;
    border: 0 !important;
    align-items: center;
    justify-content: center;
}

/*Grenral*/

body{
	background-color:#f8f9fa;
	display: flex;
	flex-direction:column;
}

.fluid{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}	

.split{
	display:flex;
	justify-content:space-between;
	flex-direction:row !important;
}

.modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
    transform: translateY(-10%) !important;
}

.modal-content {
    margin: 0 auto;
    width: 100%;
}

 .field{
    width:70%;
    padding:4px 0 4px 3px;
    margin:10px 0 10px 0;
 }

.modal-button{
    background-color:#5a8b91 !important;
    border-color:#77afb6 !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 1.75rem auto;
        min-height: calc(100% - 3.5rem);
    }
}

/*Home*/
.company-title{
	margin-bottom:16%;
	font-size:27vmax;
}

.color-gradiant {
    position: relative;
    width: 100%;

}

.color-gradiant:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 0) 64%, rgba(0, 0, 0, 0.8575805322128851) 100%);
}


.w-100 {
    width: 100%;
    height: 800px !important;
    object-fit: cover;
}

.content{
	display: flex;
	min-height:30vw;
	
}

.text{
	display: flex;
	flex:50;
	padding:20px;
	text-align:center;
	justify-content:space-around;
	border-bottom: 2px dashed #000;
}

.image{
	border:2px #000000 solid;
	width: 40vw; 
	height: 20vw;
	object-fit: cover;
}

.product-title{
	display:flex;
	justify-content:space-between;
	width:100%;
	margin:30px;
}

.product-button{
    margin-right: 50px;
}

.title{
	flex:1;	
}

.flex-cards{
    display:flex;
    flex-direction: row;
    flex-grow:1;
    flex-wrap:wrap;
}

.card{
	margin:1vw !important;
    max-width:540px;
}

.card-image{
	max-width:200px !important;
	max-height:200px !important;
	object-fit: scale-down;
}

#bg-color1{
	background-color:#c6d9e8;
}

#bg-color2{
	background-color:#c1c7df;
}

#bg-color3{
	background-color:#7c99bb;
}

#bg-color4{
	background-color:#326e6e;
}

/* Mobile styles home*/
@media screen and (max-width: 992px) {
    .content {
        flex-direction: column;
        min-height: 100%; 
    }
	
    .text {
        flex-direction: column;
        padding: 20px; 
        flex: 1; 
    }

    .fluid {
        width: 100%; 
        margin-bottom: 20px;
    }

    .image {
        width: 100%; 
        height: auto; 
        max-width: 300px; 
        margin: 0 auto; 
    }

    .w-100 {
        height: 50vh !important; 
        object-fit: cover;
    }

    .title {
        height: 20px; 
        width: 100%;
    }

    .company-title {
        font-size: 15vmax;
    }

    .text h2 {
        font-size: 1.5rem; 
    }

    .text p {
        font-size: 0.9rem;
        line-height: 1.5; 
    }
}

/*Products*/


.search-list{
    list-style-type: none;
    padding: 0;
    margin: 4vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-bottom: 20px;
    min-width: 392px;
}

